<h1>{{Celebrity}}</h1>
<p>Welcome to {{Celebrity}}</p>

<a href="/celebrity/create">Add Celebrity</a><br>
<a href="/celebrity">All Celebrities</a><br>
<a href="/movies/create">Add A New Movie</a><br>
<a href="/movies">All Movies</a><br>